/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Monoton", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.container {
  margin: 50px;
  margin-top: 200px;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: baseline;
  padding: 20px;
  background-color: aliceblue;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
a {
  padding: 0px 30px;
  text-decoration: none;
  color: gray;
}

.logo {
  padding: 0px 5px 0px 80px;
}

.topContent {
  display: flex;
  box-sizing: border-box;
  padding-top: 100px;

  max-width:100%;
}

.innovationOnDemand {
  display: flex;
  flex-direction: column;
  padding: 40px;
} 

.innovationOnDemand h1 {
  
  text-align: center;
}

.circleLogo {
	display: flex;
  max-width:none;
  padding: 0px 70px 40px 120px;
}
.circleLogo img{
	max-width:none;
}
.getStartedButton {
  margin: 0 auto;
}
.button {
  width: 60%;

  padding: 5px;

  margin: 0px 30px 0px 0px;
}

.button p {
  padding: 5px 10px 5px 90px;
}

.gradient-button {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}
.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
}

.gradient-button {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
}
.gradient-button-4:hover {
  background-position: right center;
}

.middleContent {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.top2paragraphs {
  display: flex;
}

.feature,
.about {
  width: 48%;
  padding: 20px 20px 30px 0px;
}

.middle-img {
  width: 100%;
}
.bottom3paragraphs {
  display: flex;
}
.services,
.product,
.vision {
  width: 33%;
  padding: 20px 20px 30px 0px;
}

h1 {
  font-size: 60px;
}

h3 {
  padding-top: 20px;
}

footer {
  text-align: center;
  padding: 20px 0px;
  background-color: aliceblue;
}

/*
Service page CSS code starts here 

.services-header-img{
	width:100%;
	margin-bottom: 3%;
}

.topServices{
	width:100%;
	padding-bottom: 3%;
}


.boxes{
	border-top:2px solid black;
	border-bottom:2px solid black;
	width:100%;
	display:flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	
	
}
.box{
	
	border: 1px solid black;
	background-color: WHITESMOKE;
	border-radius: 5px;
	width:48%;
	margin:2% 0;
}
 .boxes h3 {
	
	padding:2%;
}

.boxes p{
	
	padding:2%;
}

.bottomFacts{
	display:flex;
	justify-content: space-between;
	margin-top: 3%;
	
	
	
}

.servicesPageFacts {
	width:48%;
	
}
.services-info-img{
	width:48%;
	padding-top:20px;

}



.bulletPoints {
	list-style-position:inside;
	margin-top: 2%;
}
ul {
	list-style: disc; 
}*/

/* Max-width 800px code starts here! */

@media (max-width: 800px) {
  body {
    background-color: pink;
  }



a .gradient-button.gradient-button-4{
	max-width: 700px;

}

.gradient-button {
	font-size: 10px;
}
nav{
	order:0;
}
.circleLogo{
	display:none;
}
.gradient-button {
	align-items: center;
	width:100%;
	
}

div.getStartedButton{
	margin: 0 auto;
	
}
  
} /* This closes @media 800px */



/* Max-width 500px code starts here! */

@media (max-width: 700px) {
  body {
    background-color: peachpuff;
  }
  nav {

    flex-direction: column-reverse;
    align-items: center;
    
  }

 .logo{
	 display:block;
	 padding:20px;
 }

  .topContent {
    padding-top: 300px;
  }

  .gradient-button {
    width: 60%;
  }
  .getStartedButton a {
	width: 100%;
	
    align-items: center;
    
  }

  
  div.innovationOnDemand{
	align-items: center;
  }
  .top2paragraphs {
    flex-direction: column;
    align-items: center;
  }

  div.feature,
  div.about {
    width: 100%;
    align-items: center;
  }

  .bottom3paragraphs {
    flex-direction: column;
    align-items: center;
  }

  div.services,
  div.product,
  div.vision {
    width: 100%;
    align-items: center;
  }
} /* This closes @media 500px */
